{% extends 'header.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-5">Add New Client</h2>
    <form method="post" action="{% url 'add_client' %}" class="border p-4 rounded bg-light shadow-lg mb-5">
      {% csrf_token %}
      <!-- Client Name -->
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="clientName" class="form-label">Client Name</label>
          <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Enter Client Name" required />
        </div>
        <div class="mb-3 col-md-6">
          <label for="clientName" class="form-label">City of Residence</label>
          <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" required />
        </div>
      </div>

      <!-- Mobile and Email -->
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Enter Mobile Number" required />
        </div>
        <div class="mb-3 col-md-6">
          <label for="sec_mobile" class="form-label">Second Mobile</label>
          <input type="tel" class="form-control" id="sec_mobile" name="sec_mobile" placeholder="Enter Mobile Number" />
        </div>
      </div>

      <!-- Employee and Referred By -->
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required />
        </div>
        <div class="mb-3 col-md-6">
          <label for="referredBy" class="form-label">Referred By</label>
          <input type="text" class="form-control" id="referredBy" name="referredBy" placeholder="Enter Referred By Name" required />
        </div>
      </div>

      <!-- Services -->
      <div class="row">
        <div class="mb-3 col-md-12">
          <label for="services" class="form-label">Services</label>
          <select class="form-control" id="services" name="services" multiple>
            {% for service in services %}
              <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
          </select>
          <small class="text-muted">Hold Ctrl (or Cmd on Mac) to select multiple services</small>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row my-4">
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-success w-50">Add Client</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
