{% extends 'header.html' %}
{% load static %}
{% block content %}
  <!-- Main Content -->
  <div class="container mt-5">
    <p class="fw-bold font-monospace fs-3 text-primary">Hello, {{ request.session.emp_name }}</p>
    <h1 class="mb-4">Welcome to the Client Management System</h1>
  </div>

  <div class="container table-responsive">
    <table class="table table-bordered table-hover shadow-lg">
      <thead style="background-color: #2c3e50; color: #ecf0f1; font-family: 'Verdana, sans-serif';">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Client Name</th>
          {% comment %} <th scope="col">PAN</th> {% endcomment %}
          {% comment %} <th scope="col">Aadhar</th> {% endcomment %}
          <th scope="col">Mobile</th>
          <th scope="col">Sec. Mobile</th>

          <th scope="col">City</th>
          <th scope="col">Email</th>
          <th scope="col">Referred By</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody style="font-family: 'Arial, sans-serif'; font-size: 16px;">
        {% for i in clients %}
          <tr style="background-color: {% cycle '#f8f9fa' '#ffffff' %}; color: #34495e;">
            <th scope="row" style="background-color: #2abc9c; color: #ffffff;">{{ i.id }}</th>
            <td>{{ i.clientName }}</td>
            <td>{{ i.mobile }}</td>
            {% if not i.sec_mobile %}
              <td>
                <span class="badge font-monospace bg-warning text-dark">None</span>
              </td>
            {% else %}
              <td>{{ i.sec_mobile }}</td>
            {% endif %}
            <td>{{ i.city }}</td>
            {% if not i.email %}
              <td>
                <span class="badge font-monospace bg-warning text-dark">None</span>
              </td>
            {% else %}
              <td>{{ i.email }}</td>
            {% endif %}
            {% comment %} <td>
              {% for service in i.services.all %}
                <span class="text-danger">{{ service.name }}</span>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td> {% endcomment %}
            <td>{{ i.referredBy }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
