{% extends 'header.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4 text-primary">Billing Information for {{ client.clientName }}</h1>
    <hr class="mb-4" />

    <!-- Client Details -->
    <div class="card mb-4 shadow-lg">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Client Details</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              <strong>Name:</strong> {{ client.clientName }}
            </p>
            <p>
              <strong>Mobile:</strong> {{ client.mobile }}
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Email:</strong> {{ client.email }}
            </p>
            <p>
              <strong>City:</strong> {{ client.city }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Service and Billing Details -->
    <div class="card shadow-lg">
      <div class="card-header bg-success text-white">
        <h4 class="mb-0">Services</h4>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'generate_bill' client.id %}">
          {% csrf_token %}
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Service Name</th>
                <th>Status</th>
                <th>Total Fee</th>
                <th>Total Paid</th>
                <th>Outstanding Amount</th>
                <th>Payment Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for item in services_with_totals %}
                <tr>
                  <td>{{ item.service.service.name }}</td>
                  <td>{{ item.service.status }}</td>
                  <td>{{ item.service.fee }}</td>
                  <td>{{ item.total_received }}</td>
                  <td>{{ item.outstanding_amount }}</td>
                  <td>
                    <input type="hidden" name="service_id_{{ client.id }}" value="{{ item.service.id }}" />
                    <input type="number" name="payment_amount_{{ client.id }}" placeholder="Enter amount" class="form-control" required />
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="mt-4">
            <label for="payment_type"><strong>Payment Type:</strong></label>
            <select id="payment_type" name="payment_type" class="mt-1 form-control" required>
              <option value="UPI">UPI</option>
              <option value="Cash">Cash</option>
              <option value="Check">Check</option>
              <option value="Netbanking">Netbanking</option>
            </select>
          </div>

          <div class="mt-4 float-end">
            <button type="submit" class="btn btn-primary btn-block">Submit Payment</button>
          </div>
        </form>
      </div>
    </div>
    <div class="my-5 text-center gap-2">
      <a href="{% url 'clients' %}" class="btn btn-secondary">Back to Client List</a>
      <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
  </div>
{% endblock %}
