{% load static %}
{% block content %}
  <title>Billing Information for {{ client.clientName }}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 10px;
    }
    .container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
      color: #007bff;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    table,
    th,
    td {
      border: 1px solid #ddd;
    }
    th,
    td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f8f9fa;
    }
    .footer {
      text-align: center;
      margin-top: 30px;
    }
  </style>
  <div class="container">
    <h1 class="text-center text-decoration-underline">Shreeji Consultancy</h1>
    <h1>Billing Information for {{ client.clientName }}</h1>

    <!-- Client Details -->
    <div>
      <h3>Client Details</h3>
      <p>
        <strong>Name:</strong> {{ client.clientName }}
      </p>
      <p>
        <strong>Mobile:</strong> {{ client.mobile }}
      </p>
      <p>
        <strong>Email:</strong> {{ client.email }}
      </p>
      {% comment %} <p>
        <strong>City:</strong> {{ client.city }}
      </p> {% endcomment %}
    </div>

    <!-- Service and Billing Details -->
    <div>
      <h3>Services and Billing</h3>
      <table>
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Status</th>
            <th>Total Fee</th>
            <th>Total Paid</th>
            <th>Outstanding Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for item in services_with_totals %}
            <tr>
              <td>{{ item.service.service.name }}</td>
              <td>{{ item.service.status }}</td>
              <td>{{ item.service.fee }}</td>
              <td>{{ item.total_received }}</td>
              <td>{{ item.outstanding_amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="footer">
      <button onclick="window.print()">Print this page</button>
    </div>
  </div>
{% endblock %}
